<nav>
  <div class="nav-wrapper container">
    <a href="#/" class="waves-effect waves-light brand-logo">Team Builder</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/#/teambuilder" class="waves-effect waves-light"><i class="mdi-social-people left"></i>Join a team</a>
      </li>
    </ul>   
	<ul class="side-nav" id="mobile-demo">
		<li>
			<a href="/#/teambuilder" class="waves-effect waves-light"><i class="mdi-social-people left"></i>Join a team</a>
		</li>
	</ul>
  </div>
</nav>
<!-- end of nav bar -->