/*
	Author: Juan Venegas
	Email: jrvboesch@gmail.com
*/
.home{
	.control{
		text-align: center;
		a{
			  margin: 10px;
			  display: inline-block;
			  width: 200px;
			&.active{
			}
		}
	}
	#regi, #buscar{
		display: none;
		margin: 0 auto;
		// width: 50%;
		> row{
			// width: 50%;
		}
	}
	.banner{
		
	}
}